<div class="col-md-offset-4 col-md-4 col-md-offset-4">  
<h1>Your Dates</h1>
You have been on <%= @dates.length %> date(s).
<% @dates.each do |date| %>
  <table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td><div style="height:75px;"><img src="<%=date.recipient.picture%>" class="thumbnail" ><div style="position:relative; bottom:20px; left:3px;"><%= date.recipient.first_name %></div></div></td>
    <td> went out with</td>
    <td><div style="height:75px;"><img src="<%=date.sender.picture%>" class="thumbnail" ><div style="position:relative; bottom:20px;  left:3px;"><%= date.sender.first_name %></div></div></td>
  </tr>
  <tr>
    <td colspan="3" valign="top"><%= date.sender.first_name %>'s Pickup Line: "<%= date.description %>"</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  </table>


<% end %>
</div>
