<div class="col-md-offset-4 col-md-4 col-md-offset-4">  
<h1>Your Dates</h1>
You have been on <%= @dates.length %> date(s).
<% @dates.each do |date| %>
  <p><img src="<%=date.recipient.picture%>" class="thumbnail" > <%= date.recipient.first_name %> went out with <img src="<%=date.sender.picture%>" class="thumbnail" > <%= date.sender.first_name %></p>
  <p><%= date.sender.first_name %>'s Pickup Line: "<%= date.description %>"</p>
<% end %>
</div>
