<div class="row main_view">
<div class="col-md-offset-4 col-md-5 col-md-offset-4">
<h1>Check out your profile!</h1>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">
      <img src="<%= @user.picture %>">
    </div>
    <div class="back">
      <h4><%= @user.first_name %> <%= @user.last_name %></h4>
      <p>email: <%= @user.email %></p>
      <p>quirk: <%= @user.quirk %></p>
      <p>bio: <%= @user.bio %></p>
      <p>preference: <%= @user.preference %></p>
    </div>
  </div>
</div>

<div class ='inline-buttons '>
<form action="/<%=session[:user_id]%>/edit" method="get">

  <button class='btn btn-danger edit'  type="submit" value="Edit Profile"><i class="fa fa-refresh fa-spin"></i>    Edit Profile    </button>
</form>

<form action="/<%=session[:user_id] %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class='btn btn-danger delete' type="submit" value="Delete My Account"><i class="fa fa-trash"></i>     Delete My Account   </button>
</form>

</div>
</div>
